.container{
    padding: 3em 1em;
    display: flex;
    justify-content: space-between
}
.form-group{
    display: flex;
    padding: 0.5em 1em;
    justify-content: space-between;
}
.form-control{
    text-align: right;
    width: 8em;
    margin: 0.1em 1em;
}


.form-control{
    border-top: none;
    border-right: none;
    border-left: none;
}
.button-container{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
.button-container button {
    border-radius: 0.1em;
    width: 6em;
    background-color: #4CAF50;
    font-size: 2em;
    border: 1px solid #62823d;
    color: white;
    margin: 0.2em;
}
.button-container button:hover{
    background-color: #2f6d32;
    cursor: pointer;
}


.question{
    margin: 1.2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.question .text{
    margin-bottom: 0.3em;
    font-size: 1.1em;
}


/* Marking */
.correct::after{
    content: "\2713";
    margin-left: 0.5em;
    color: green;
    font-weight: bold;
}
.incorrect::after{
    content: "\2717";
    margin-left: 0.5em;
    font-weight: bold;
    color: red;
}
.correct-answer::after{
    content: "\2190   Correct answer";
    margin-left: 0.5em;
    font-weight: bold;
    font-size: 1.1em;
    line-height: 1.6em;
}